<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
	A few important links on Ruby on Rails are:
	<ul>
		<li> Official <a href= "https://rubyonrails.org/">Rails</a> page. </li>
		<li> Official <a href="https://www.ruby-lang.org/en/">Ruby</a> page. </li>
		<li> Official <a href="https://git-scm.com/">Git </a> page. </li>

	</ul>
</p>
	